.parallax {
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/gBUEhwhFJ3I/maxresdefault.jpg");
  
    /* Set a specific height */
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.nav-item1 {
  margin-right: 60%;
}

div.container {
  padding: 0px;
}

.i {
  margin: 50%;
  width: 60%;
}
