.parallax {
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/gBUEhwhFJ3I/maxresdefault.jpg");
  
    /* Set a specific height */
    min-height: 200px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.nav-item1 {
  margin-right: 60%;
}

div.container {
  padding: 0px;
}

.i {
  margin: 50%;
  width: 60%;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer{
  width: 100%;
  background: #202020;
  color: white;
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.container-body{
  display: flex;
}

.column1{
  max-width: 400px;
}

.column1 h1{
  font-size: 22px;
}

.column1 p{
  font-size: 14px;
  color: white;
  margin-top: 20px;
}

.column2{
  max-width: 400px;
  
}
